@media (min-width: 768px) {
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }
}

.clause {
  background-color: rgba(255,255,255,0.05);
  border: 1px solid rgba(0,0,0,0.4);
  margin: 0.5em;
  padding: 0.5em 1em;
  display: flex;
}

table {
  border-collapse: collapse;
}

tr:nth-child(2n + 1) td {
  background-color: rgba(255,255,255,0.1);
}

td, th {
  padding: 0.25em 0.5em;
}

code {
  display: block;
  background-color: field;
  padding: 2px;
}

textarea {
  border: none;
  min-width: 90px;
  min-height: 2.3em;
}

.btn-xs {
  font-size: x-small;
  padding: 0.35em 0.8em;
}

.select-edit {
  border-radius: 3px;
  cursor: pointer;
}

.select-edit:hover {
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0 0 0 4px rgba(0,0,0,0.3);
}